body {
    background-color: rgba(223, 255, 191, 0.63);
    height: 100vh;
    width: 100vw;

}

.game-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.game {
    width: 60%;
    height: 70%;
    padding: 2rem;
    background-color: rgb(197, 139, 105);
    align-self: center;
    border-radius: 1.2rem;
}

.instructions {
    text-align: center;
}
.playerScore {
    margin-top: 2rem;
    line-height: 1.5;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.keyboard {
    display: flex;
    margin-top: 5rem;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: .6rem;
    flex-flow: row wrap;
    padding: 1rem;
}



.keyBtn {
    flex-grow: 0;
    width: 9%;
    margin: .1rem .5%;
    box-shadow: 0 0 2px 1px black;
    transition: .2s ease-in;
}

.keyBtn:hover {
    background-color: black;
    color: white;
}

/* 
.keyBtn:nth-child(odd) {
    background-color: black;
    color: white;
} */

.keyBtnA {
    margin-left: .887986rem;
}

.keyBtnZ {
    margin-left: 1.7rem; 
}




.reset {
    background-color: cornsilk;
    padding: .5rem 1rem;
    font-size: .75rem;
    border-radius: .6rem;
    border: solid cornsilk;
    transition: .2s all ease-in;
    box-shadow: 0 0 4px 3px black;
}

.reset:hover {
    background-color: cornflowerblue;
    color: cornsilk;